#SimulationDisplay{
    /*-fx-alignment: center;*/
    /*-fx-pref-width: infinity;*/
    /*-fx-background-color: rgba(239, 246, 255, 1);*/
    -fx-background-color: rgba(255, 87, 51, 1);
    -fx-alignment: center;
    -fx-pref-width: infinity;
}

.button {
    -fx-text-fill: white;
    -fx-font: Mulish;
    -fx-font-weight: normal;
    -fx-alignment: center;
    -fx-background-color: rgba(60, 100, 177, 1);
}