/* Opening Window */
/*.root {*/
/*    -fx-alignment: center;*/
/*}*/

#OpeningWindow{
    /*-fx-alignment: center;*/
    /*-fx-pref-width: infinity;*/
    /*-fx-background-color: rgba(239, 246, 255, 1);*/
    -fx-alignment: center;
    -fx-pref-width: infinity;
}

#welcome-text {
    -fx-font-size: 44;
    -fx-font-weight: Bold;
    -fx-text-alignment: center;
    -fx-text-fill: rgba(55, 63, 65, 1);
    -fx-wrap-text:true;
    -fx-alignment: center;
    -fx-font: Mulish;
}

.button {
    -fx-text-fill: white;
    -fx-font: Mulish;
    -fx-font-weight: normal;
    -fx-alignment: center;
    -fx-background-color: rgba(60, 100, 177, 1);
}

